*
!*/
!.gitignore
!aliases
!bootstrap.sh
!ideavimrc
!p10k.zsh
!shell_prompt.sh
!tmux.conf
!zshrc
!wezterm.lua

!fzf/*

!fonts/ttf/*
!fonts/variable/*
!fonts/webfonts/*
*.uuid

!config/kitty/dark-theme.auto.conf
!config/kitty/kitty.conf
!config/kitty/light-theme.auto.conf
!config/kitty/no-preference-theme.auto.conf

!config/nvim/init.lua
!config/nvim/lua/config/*
!config/nvim/lua/plugins/*

