*
!*/
!.gitignore
!aliases
!bootstrap.sh
!ideavimrc
!shell_prompt.sh
!tmux.conf
!zshrc

!fzf/*

!fonts/ttf/*
!fonts/variable/*
!fonts/webfonts/*
*.uuid

!config/kitty/dark-theme.auto.conf
!config/kitty/kitty.conf
!config/kitty/window_navigation.py
!config/kitty/light-theme.auto.conf
!config/kitty/no-preference-theme.auto.conf

!config/keyd/default.conf

!config/nvim/init.lua
!*.lua
!config/nvim/lua/plugins/*
!config/starship.toml
config/nvim/tmp/*
